<h1>Om projektet</h1>

<p>Wordle-spel byggt i Node.js och React.</p>

<ul>
  <li>Slumpade svenska ord</li>
  <li>Feedback (grön/gul/röd)</li>
  <li>Highscore sparas i SQLite</li>
</ul>

<a href="/">Spela</a>
<a href="/highscores">Highscores</a>